.idea/

# Common
!laradock/.env

# apache2
!laradock/apache2/sites/drupal.local.conf
!laradock/apache2/sites/wordpress.local.conf

# mysql
!laradock/nginx/sites/drupal.local.conf
!laradock/nginx/sites/wordpress.local.conf

# mysql
!laradock/mysql/docker-entrypoint-initdb.d/wordpress.local.sql
!laradock/mysql/docker-entrypoint-initdb.d/drupal.local.sql

vendor/
node_modules/